project:
  type: website

website:
  title: "Miniproject miniwebsite"
  navbar:
    left:
      - href: index.qmd
        text: Home

      - href: overview.qmd
        text: Overview

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

